/*header start*/
header{
	background-color: #DFDFDD;
	min-height: 110px;
	margin-bottom: 20px;
}
.wrapper{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	/*margin-bottom: 20px;*/
}
.logo {
    width: 6%;
    border-radius: 75%;
    float: left;
    height: 69px;
    margin-top: 18px;
    background-color: #BCBDBF;
    margin-left: 23px;
}
.menu {
	width:50%;
	float:right;
	overflow: hidden;
	margin-top: 15px;
}
.menu ul{
    float: left;
    width:100%;
}
.menu ul li{
	list-style: none;
	float:left;
	background-color: #BDBDC0;
	padding: 20px 72px;
    margin: 0 18px;
    border-radius: 5px;
}
/*header end*/
/*banner start*/
.banner {
	min-height: 400px;
	margin-bottom: 20px;
}
.left_banner {
	float:left;
	width:48%;
	background-color: #DFDFDD;
	min-height: 400px;
}
.right_banner {
	float:right;
	width:48%;
	min-height: 400px;
}
.right1 {
	width:80%;
	background-color: #BEBDC2;
	min-height:45px;
	border-radius: 5px;
}
.right2 {
        margin: 23px 0;
        padding-top: 3px;

}
.right2 p{
	width:95%;
	min-height: 14px;
	border-radius: 5px;
	background-color: #DFDFDD;
}
.right2_p4{
	width:80%;
	min-height: 14px;
	border-radius: 5px;
	background-color: #DFDFDD;
}
.right3 {
	border:1px solid;
}
/*banner end*/
/*Services start*/
.services {
	min-height: 400px;
}
.single_service {
	width:32%;
	float:left;
	padding-right: 1.3%;
	margin-bottom: 48px;
}
.single_1 {
    width:100%;
    min-height:300px;
    background-color:#DFDFDD; 
}
.single_2 {
	width:70%;
    min-height:45px;
    background-color:#BDBEC0; 
    border-radius: 5px;
    margin: 10px 0;
}
.single_3 {
	width:100%;
    min-height:25px;
    background-color:#DFDFDD;
    border-radius: 5px;
}
.single_4 {width:100%;
    min-height:25px;
    background-color:#DFDFDD;
    border-radius: 5px;
    margin: 10px 0;
}
/*Services end*/
/*footer start*/
footer{
	background-color: #DFDFDD
}
.footer_wrapper{
    overflow:hidden;
}
.single_footer{
	width:16%;
	float:left;
	padding: 32px 58px;
	overflow:hidden;
}
.single_footer h6{
    background-color:#BCBCBD;
    border-radius: 5px;
    height: 33px;
}
.single_footer p{
	background-color:#BCBCBD;
	border-radius: 5px;
	height: 33px;
	width:16%;
	float:left;
	margin-top: 2px;
    margin-bottom: 17px;
        margin-right: 8.54px;
}
.single_footer ul{
    padding-left: 0;
    width:100%;
    overflow:hidden;
}
.single_footer ul li{
    background-color:#D2D2D4;
    list-style-type: none;
    text-align:left;
    height: 17px;
    border-radius: 5px;
    margin: 9px 0;
}
/*footer end*/